{% extends "auctions/layout.html" %}

{% block body %}
<p> Brand: <strong> {{brand}} </strong> </p>
<ul class="d-flex">
    {% for listing in listing_brand %}
        {% if listing.active == True %}
        <div onclick="window.open('{% url "active_listing" listing.id %}', '_self');" class="card" style="width: 18rem;">            <div class="card-body">
                <h5 class="card-title">
                    {{ listing.name}}
                </h5>
                <img class="card-img-top" src="{{ listing.url}}">
                <p class="card-text">Description:{{ listing.description }}</p>
                <p class="card-text">Starting bid: {{ listing.starting_bid }}€</p>
            </div>
        </div>
        {% endif %}
    {% endfor %}
</ul>

{% endblock %}
