{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Create listing</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'create_listing' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input autofocus class="form-control" type="text" name="name" placeholder="Name">
        </div>
    <hr>
        <div class="form-group">
            <select autofocus name="category" class="form-control">
	        {% for category in all_categories %}
		            <option value="{{ category.category }}" name="category">{{ category.category }}</option>
            {% endfor %}
        </select>
        <select autofocus name="brand" class="form-control my-2">
	        {% for brand in all_brands %}
		            <option value="{{ brand.brand }}" name="category">{{ brand.brand }}</option>
            {% endfor %}
        </select>
        <select autofocus name="model" class="form-control">
	        {% for model in all_models %}
		            <option value="{{ model.model }}" name="category">{{ model.model }}</option>
            {% endfor %}
        </select>
        </div>
    <hr>
        <div class="form-group">
            <input class="form-control" type="text" name="starting_bid" placeholder="Starting bid">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="description" placeholder="Description">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="url" placeholder="Url">
        </div>        
        <div class="form-group">             
        <input name="owner" type='hidden' value='{{ user.username }}'>
        <input class="btn btn-primary" type="submit" value="Create">
        </div>
    </form>

{% endblock %}